# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# TMDB (read access token / Bearer token from https://www.themoviedb.org/settings/api)
TMDB_API_KEY=""
